@media (max-width: 860px) {
    .container {
        max-width: 860px;
    }

    .header__logo {
        max-width: 100px;
    }

    .header__link {
        font-size: 25px;
    }

    .main__title {
        font-size: 30px;
    }

    .main__text {
        font-size: 22px;
    }

    /* MOVIES */

    .movies__wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

    .movies__title {
        font-size: 16px;
    }

    .movies__date {
        font-size: 16px;
    }

    .movies__btn {
        font-size: 18px;
    }

    .movies__modal {
        top: 30px;
    }

    .movies__close {
        right: 50px;
    }

    .movies__name {
        font-size: 20px;
    }

    /* POCKEMON */

    .pockemon__wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .pockemon__modal {
        height: calc(100vh - 85px);
    }

    .pockemon__info {
        height: 250px;
    }

    .pockemon__pic {
        margin-left: 30px;
    }

    .pockemon__title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .pockemon__experience {
        font-size: 20px;
    }

    .pockemon__ability {
        font-size: 18px;
    }

}

@media (max-width: 610px) {
    .header__nav {
        display: none;
    }

    .header__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
    }

    .header__link-media {
        display: block;
        max-width: 50px;
    }

    .main__title {
        font-size: 25px;
    }

    .main__text {
        padding: 10px 5px;
        font-size: 18px;
    }

    /* MOVIES */

    .movies__wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .movies__date {
        font-size: 14px;
    }

    .movies__modal {
        top: 10px;
    }

    .movies__close {
        right: 50px;
    }

    .movies__name {
        font-size: 20px;
    }

    .movies__genre,
    .movies__lang {
        font-size: 16px;
    }

    .movies__desc {
        font-size: 14px;
    }

    /* POCKEMON */

    .pockemon__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .pockemon__info {
        width: 70%;
        height: 250px;
        margin: 12% auto;
    }

    .pockemon__pic {
        margin-left: 30px;
    }
}

@media (max-width: 450px) {
    .main__wrapper {
        grid-template-columns: 1fr;
    }

    .main__fr {
        transform: skewX(0deg);
    }

    .main__title {
        font-size: 35px;
    }

    /* MOVIES */

    .movies__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .movies__date {
        font-size: 14px;
    }

    .movies__modal {
        position: absolute;
        height: 100vh;
        top: inherit;
        left: 0;
    }

    .movies__details {
        grid-template-columns: 1fr;
    }

    .movies__name {
        font-size: 18px;
    }

    /* POCKEMON */

    .pockemon__wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .pockemon__info {
        width: 80%;
        height: 250px;
        margin: 15% auto;
        gap: 20px;
    }

    .pockemon__pic {
        margin-left: 30px;
    }

    .pockemon__title {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .pockemon__experience {
        font-size: 20px;
    }

    .pockemon__ability {
        font-size: 16px;
    }
}