* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    border: none;
    background-color: transparent;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER */

.header {
    background: linear-gradient(83deg, rgba(47, 0, 46, 1) 10%, rgba(12, 0, 47, 1) 100%);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    max-width: 120px;
}

.header__nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 40px;
    place-items: center;
}

.header__link-media {
    display: none;
}

.header__link {
    font-family: 'Wallpoet', cursive, sans-serif;
    font-size: 32px;
    color: #6ed1d4;
    background-image: linear-gradient(to right,
            #f7fa5e,
            #f7fa5e 50%,
            #6ed1d4 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-in-out;
}

.header__link:before {
    content: '';
    background: #f7fa5e;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.8s ease-in-out;
}

.header__link:hover {
    background-position: 0;
}

.header__link:hover::before {
    width: 100%;
}

/* MAIN */

.main {
    background-color: rgb(19, 0, 18);
    overflow: hidden;
}

.main__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: calc(100vh - 105px);
    gap: 5px;
}

.main__fr {
    transform: skewX(-10deg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__fr-cinema {
    background-image: url(/style/images/movies_main.jpg);
}

.main__fr-pockemon {
    background-image: url(/style/images/pockemon_main.jpg);
}

.main__fr-sw {
    background-image: url(/style/images/sw_main.png);
}

.main__content {
    backdrop-filter: blur(8px);
    visibility: hidden;
    height: 100%;
    padding: 80px 20px;
}

.main__title {
    font-family: 'Mitr', sans-serif;
    font-size: 45px;
    font-weight: 800;
    color: black;
    line-height: 120%;
    padding-left: 15px;
    margin-bottom: 50px;
}

.main__title-cinema {
    background-color: #f7fa5e;
}

.main__title-pockemon {
    background-color: #faa1ca;
}

.main__title-sw {
    background-color: #8bfcff;
}

.main__text {
    padding: 20px 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    line-height: 150%;
}

.main__text-cinema span {
    background-color: #f7fa5e;
}

.main__text-pockemon span {
    background-color: #f8b0d1;
}

.main__text-sw span {
    background-color: #8bfcff;
}

.main__text:hover {
    transform: scale(1.1);
}

/* MOVIES */

.movies {
    background-image: url(./images/movies_bcg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;
    overflow-x: hidden;
}

.movies__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
}

.movies__card {
    position: relative;
}

.movies__rating {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    background-color: #af4caf;
    width: 60px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
    transform: skewX(-10deg);
}

.movies__rating p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.movies__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(37, 37, 37, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.movies__title {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin: 50px 0 0 0;
}

.movies__date {
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 18px;
    color: #ffffff;
}

.movies__btn {
    width: 100%;
    height: 40px;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(37, 37, 37, 0.2);
    border: 2px solid #ffffff;
    color: #ffffff;
}

.movies__btn:hover {
    color: #ffffff;
    height: 40px;
    background-color: rgb(175, 76, 175, 0.5);
    border: none
}

.movies__modal {
    width: 100%;
    height: 100vh;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 50px 0;
}

.movies__details {
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    margin: 10% auto;
    background-color: #1b011a;
    padding: 2px;
    overflow: scroll;
    overflow-x: hidden;
}

.movies__close {
    position: absolute;
    right: 80px;
    top: 140px;
    cursor: pointer;
}

.movies__text {
    padding: 10px;
}

.movies__name {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 30px;
}

.movies__genre,
.movies__lang {
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 18px;
    color: #ffffff;
}

.movies__lang {
    margin-bottom: 20px;
}

.movies__desc {
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 17px;
    color: #ffffff;
}

/* POCKEMON */

.pockemon {
    background-image: url(/style/images/pockemon_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;
    overflow-x: hidden;
}

.pockemon__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    height: calc(100vh - 100px);
    padding: 20px 0 20px;
    position: relative;
}

.pockemon__card {
    background-color: #fbe506;
    padding: 10px;
    border-radius: 15px;
}

.pockemon__card:hover {
    cursor: pointer;
}

.pockemon__content {
    background-color: #ffffff;
    border-radius: 7px;
    padding: 10px;
}

.pockemon__name {
    font-family: 'Mitr', sans-serif;
    font-size: 25px;
    text-transform: capitalize;
}

.pockemon__img {
    padding: 0 30px;
    border: 1px solid black;
}

.pockemon__modal {
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100vh;
    bottom: 0;
    left: 0;
    position: fixed;
}

.pockemon__info {
    width: 50%;
    height: 300px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid black;
    background-image: url(./images/Pokemon_ball.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: bottom left;
    margin: 15% auto;
    position: relative;
    padding: 20px 5px;
}

.pockemon__pic {
    margin-left: 70px;
}

.pockemon__pic img {
    object-fit: contain;
}

.pockemon__close {
    position: absolute;
    right: -30px;
    top: -20px;
    cursor: pointer;
}

.pockemon__title {
    font-family: 'Mitr', sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.pockemon__experience {
    font-family: 'Mitr', sans-serif;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 15px;
    color: rgb(219, 20, 20);
}

.pockemon__ability {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    color: #0a569e;
}

/* SW */

.sw {
    background-image: url(./images/sw_bcg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

.sw__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    width: 100%;
    list-style: none;
    color: #ffffff;
    font-family: 'Star Jedi', sans-serif;
    font-size: 30px;
    padding-top: 20px;
    background-color: transparent;
}

.sw__list li {
    cursor: pointer;
    background-color: transparent;
}

.sw__link-left:hover {
    box-shadow: 0 0.8em 0.8em -0.2em #3855cd;
    transform: translateY(-0.25em);
}

.sw__link-rigth:hover {
    box-shadow: 0 0.8em 0.8em -0.2em #be0a10;
    transform: translateY(-0.25em);
}

.sw__wrapper {
    min-height: 100vh;
}

.sw__intro {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding-top: 20px;
}

.sw__card {
    background: linear-gradient(9deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.35) 100%);
    height: 300px;
    padding: 5px;
    border-radius: 20px 0 20px 20px;
    position: relative;
    cursor: pointer;
    overflow: scroll;
    overflow-x: hidden;
}

.sw__title {
    color: #FFE81F;
    font-family: 'Star Jedi Hollow', sans-serif;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    z-index: 10;
}

.sw__modal {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 75%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 15px;
    padding: 0 20px;
}

.sw__modal-films {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 75%;
    text-overflow: ellipsis ellipsis;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 15px;
    padding: 0 20px;
}

.sw__char {
    margin-bottom: 6px;
}