* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/* font-family: 'Mitr', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Wallpoet', cursive; */

/* HEADER */

.header {
    /* background-color: #2f002e;  */
    background: linear-gradient(83deg, rgba(47, 0, 46, 1) 10%, rgba(12, 0, 47, 1) 100%);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    max-width: 120px;
}

.header__nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 40px;
    place-items: center;
}

.header__link {
    font-family: 'Wallpoet', cursive, sans-serif;
    font-size: 32px;
    color: #6ed1d4;
    background-image: linear-gradient(to right,
            #f7fa5e,
            #f7fa5e 50%,
            #6ed1d4 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-in-out;
}

.header__link:before {
    content: '';
    background: #f7fa5e;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.8s ease-in-out;
}

.header__link:hover {
    background-position: 0;
}

.header__link:hover::before {
    width: 100%;
}

/* MAIN */

.main {
    background-color: rgb(19, 0, 18);
    overflow: hidden;
}

.main__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: calc(100vh - 105px);
    gap: 5px;
}

.main__fr {
    transform: skewX(-10deg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__fr-cinema {
    background-image: url(/style/images/movies_main.jpg);
}

.main__fr-pockemon {
    background-image: url(/style/images/pockemon_main.jpg);
}

.main__fr-sw {
    background-image: url(/style/images/sw_main.png);
}

.main__fr:hover {
    .main__content {
        visibility: visible;
    }
}

.main__content {
    backdrop-filter: blur(8px);
    visibility: hidden;
    height: 100%;
    padding: 80px 20px;
}

.main__title {
    font-family: 'Mitr', sans-serif;
    font-size: 45px;
    font-weight: 800;
    color: black;
    line-height: 120%;
    padding-left: 15px;
    margin-bottom: 50px;
}

.main__title-cinema {
    background-color: #f7fa5e;
}

.main__title-pockemon {
    background-color: #faa1ca;
}

.main__title-sw {
    background-color: #8bfcff;
}

.main__text {
    padding: 20px 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    line-height: 150%;
}

.main__text-cinema span {
    background-color: #f7fa5e;
}

.main__text-pockemon span {
    background-color: #f8b0d1;
}

.main__text-sw span {
    background-color: #8bfcff;
}

/* POCKEMON */

.pockemon {
    background-image: url(/style/images/pockemon_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pockemon__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    height: calc(100vh - 105px);
    padding: 20px 0 20px;
}

.pockemon__card {
    background-color: #fbe506;
    padding: 10px;
    border-radius: 15px;
}

.pockemon__content {
    background-color: #ffffff;
    border-radius: 7px;
    padding: 5px;
}

.pockemon__card:hover {
    transform: scale(1.1);
}

.pockemon__name {
    font-family: 'Mitr', sans-serif;
    font-size: 20px;
}